<div class="row" id="row3">
  <iframe class="player" [src]="embedurlSafe"></iframe>
</div>

<div class="row" id="row4">
  <div class="title">
    <p class="video-title hvr-underline-reveal">
      <a class="video-link" href="https://www.youtube.com/watch?v={{video.id}}">{{ video.snippet.title }}
      </a></p>
  </div>
  <div class="desc">
    <div class="description">
      <p class="desc-text">{{ video.snippet.description }}</p>
    </div>
    <div class="other-info">
      <div class = "info">
      <div class="channel">
        <p class="video-info channel-title">Uploaded by: <b>{{ video.snippet.channelTitle }}</b></p>
      </div>
      <div class="text">
        <p class="video-info">Uploaded: {{ video.snippet.publishedAt }}</p>
        <p class="video-info views">Views: {{ video.statistics.viewCount }}</p>
      </div>
      <div class="channel-profile">
        <img [src]="channelid.snippet.thumbnails.medium.url" class="channel-picture" alt="...">
      </div>
    </div>
    </div>
  </div>
</div>
