<div class="row" id="row3">
  <iframe class="player" [src]="embedurlSafe"></iframe>
</div>

<div class="row" id="row4">
  <div class="title">
    <p class="video-title hvr-underline-reveal">
      <a class="video-link" href="https://www.youtube.com/watch?v={{video.id}}">{{ video.snippet.title }}
      </a></p>
  </div>
  <div class="desc">
    <div class="description">
      <p class="desc-text">{{ video.snippet.description }}</p>
    </div>
    <div class="channel">
      <p class="channel-title">Uploaded by: {{ video.snippet.channelTitle }}</p>
    </div>
    <div class="info">
      <div class="text">
      <p class="video-info">Date Uploaded: {{ video.snippet.publishedAt }}</p>
      <p class="video-info">Views: {{ video.statistics.viewCount }}</p>
      </div>
    </div>
  </div>
</div>
