<div class="column" id="videos">
  <div class="row" id="row1" ng-controller="search">
    <input matInput name="query" type="text" id="searchbox" placeholder="Type here for other dog related videos..."
      (keyup.enter)="onSubmit($event)">
  </div>

  <div class="row" id="row2">
    <div class="column" id="searchResults" infiniteScroll [infiniteScrollDistance]=".5" [infiniteScrollThrottle]="50" (scrolled)="loadMoreVideos($event)" [scrollWindow]="false">
      <p class="searchterm">Current Search: dog {{ query }}</p>
      <ul style="list-style: none" class="videos" id="videoss">
      <li *ngFor="let video of videos; let i = index" [style.background]="selected==i?'AliceBlue':'white'" class="video-list hvr-grow" (click)="onClick($event, video); selected=i">
          <img [src]="video.snippet.thumbnails.medium.url" class="video-thumbnail" alt="...">
        <p class="video-title">
          <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{ video.snippet.title }}
          </a></p>
        <p class="description">{{ video.snippet.description }}</p>
        <p class="hidden" hidden>{{ video.snippet.channelTitle }}</p>
        </li>
        </ul>
    </div>
  </div>
