<div class="column" id="videos">
  <div class="row" id="row1" ng-controller="search">
      <input matInput name="query" type="text" id="searchbox" placeholder="Type here for other dog related videos..." (keyup)="onKey($event)">
  </div>

  <div class="row" id="row2">
    <div class="column" id="searchResults">
      <p class="searchterm">Current Search: dog {{ query }}</p>
      <div *ngFor="let video of videos" class="video-list">
        <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
          <img [src]="video.snippet.thumbnails.medium.url" class="video-thumbnail" alt="..."></a>
        <p class="video-title">
          <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}
          </a></p>
        <p class="description">{{ video.snippet.description }}</p>
      </div>
    </div>
  </div>
